@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	margin-right: 16%;
	margin-left: 16%;
	margin-top: 2%;
	margin-bottom: 2%;
}

p {
	font-family: Roboto, sans-serif;
	color: #3f3f3f;
	line-height: 1.5;
}

center {
	font-family: Roboto, sans-serif;
	color: #3f3f3f;
	line-height: 1.5;
}

li {
	font-family: Robot, sans-serif;
	color: #3f3f3f;
	line-height: 1.5;
}
h1 {
	color: #0048e5;
	font-family: Roboto Condensed, sans-serif;
}

h2 {
	color: #3f3f3f;
	font-family: Roboto Condensed, sans-serif;
}

a {
	color: #0048e5;
	font-family: Robot, sans-serif;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.navbar {
	display: flex;
	align-items: baseline;
}

.name {
	margin-right: auto;
}

.navbar a {
	color: #0048e5;
	font-family: Roboto Condensed, sans-serif;
	text-decoration: none;
	padding: 17px 15px;
	font-size: 24px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

img.square {
	max-width: 80%;
}

img.horizontal {
	max-width: 80%;
}

img.vertical {
	max-width: 55%;
}

.dropbutton {
	background-color: white;
	border: none;
	color: #0048e5;
	font-family: Roboto Condensed, sans-serif;
	font-size: 24px;
}

.dropdown-items {
	display: none;
	position: absolute;
	background-color: white;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

.dropdown-items a {
	display: block;
}

.dropdown:hover .dropdown-items {
	display: block;
}