---
---

@import "{{ site.theme }}";

.header {
    font-family: IBM Plex Sans, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    color: #0048e5;
}

.header a {
    color: #0048e5;
} 

.header a:hover {
    color: #0048e5;
    text-decoration: underline;
}

h2 {
    font-family: IBM Plex Sans, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    color: #202020;
    margin: 10px 0 20px;
}

p {
    font-family: IBM Plex Sans, monospace;
    font-size: 14px;
    color: #727272;
}

a {
    color: #202020;
    text-decoration: none;
}

a:hover {
    font-weight: normal;
    color: #202020;
    text-decoration: underline;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #727272;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
