---
---

@import "{{ site.theme }}";

h1 {
    font-family: Staatliches, serif;
    font-style: normal;
    color: #0000ff;
}

p {
    font-family: IBM Plex Mono, monospace;
    font-size: 14px;
    color: #727272;
}

a {
    font-family: IBM Plex Mono, monospace;
    color: #202020;
    text-decoration: none;
}

a:hover {
    font-style: normal;
    color: #202020;
    text-decoration: underline;
}
