---
---

@import "{{ site.theme }}";

.header {
    font-family: Staatliches, serif;
    font-size: 32px;
    font-style: normal;
    color: #0048e5;
}

.header a {
    color: #0048e5;
} 

.header:hover {
    text-decoration: underline;
}

h2 {
    font-family: Staatiliches, serif;
    font-size: 24px;
    font-style: normal;
    color: 202020;
}

p {
    font-family: IBM Plex Mono, monospace;
    font-size: 14px;
    color: #727272;
}

a {
    color: #202020;
    text-decoration: none;
}

a:hover {
    font-weight: normal;
    text-decoration: underline;
}
