/* Font */
@font-face {
	font-family: 'Computer Modern';
	src: url(fonts/computer-modern-serif.woff)
}

@font-face {
	font-family: 'Computer Modern';
	src: url(fonts/computer-modern-italic.woff);
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern';
	src: url(fonts/computer-modern-bold.woff);
	font-weight: bold;
}

/* Layout */
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Computer Modern', serif;
	line-height: 1.5;
	font-size: 16px;
	margin: 20px 30px 10vh 20px;
}

#name {
	float: left;
	width: 135px;
}

#menu {
	float: right;
	text-align: right;
	width: 135px;
}

#content {
	padding: 10vh 0vh;
}

.wrapper {
	display: grid;
	grid-template-columns: minmax(0, 1fr) min(80ch, 100%) minmax(0, 1fr);
}

.wrapper > * {
	grid-column: 2;
}

.wrapper > p:has(img) {
	grid-column: 1 / -1; 
}

.wrapper > p:has(img.left) {
	justify-self: left;
	padding-left: 5vw;
}

.wrapper > p:has(img.right) {
	justify-self: right;
	padding-right: 5vw;
}

.wrapper p img {
	width: 100%;
	max-height: 80vh;
	padding: 20vh 0;

	display: block;
	object-fit: contain;
}

.wrapper p img.small {
	padding: 10vh 0;
	max-height: 50vh;
}

/* Text */
a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
	text-decoration-thickness: 1px;
	text-decoration-color: #bbb; 
}

blockquote {
	max-width: 80ch;
	border-left: 1px solid #bbb;
	padding: 0 20px;
	margin: 2em auto;
}

blockquote p {
	font-style: italic;
	margin: 0px;
}

del {
	text-decoration: none;
	color: gray;
}

h1 {
	font-weight: normal;
}

@media screen and (max-width: 1000px) {
	body {
		margin: 1em; 
	}

	.wrapper p img {
		padding: 5vh 0;
	}

	.wrapper > p:has(img.left) {
		padding: 5vh 0;
	}

	.wrapper > p:has(img.right) {
		padding: 5vh 0;
	}
}