html {
	scroll-behavior: smooth;
}

/* Fonts ---------------------------------------------------------------------------------------- */
@font-face {
	font-family: 'Computer Modern';
	src: url(fonts/computer_modern/cmunrm.ttf);
}
body { font: 100% 'Computer Modern'; }

@font-face {
	font-family: 'Computer Modern Italic';
	src: url(fonts/computer_modern/cmunti.ttf);
}
i { font: 100% 'Computer Modern Italic'; }

body {
	max-width: 80%;
	margin: 30px auto 100px auto;
}

/* Header --------------------------------------------------------------------------------------- */
#name {
	float: left;
	text-align: left;
	width: 100px;
} 

#name > a {
	text-decoration: none;
}

#title {
	overflow: hidden;
	text-align: center;
}

#index {
	float: right;
	text-align: right;
	width: 100px;
}

/* Text and body  styling ----------------------------------------------------------------------- */

.content {
	/* Center content in the main body */
	margin: 0px auto; 

	/* Center any random content in the content div, I'm not sure why this affects things other
	   than text but it does. */
	text-align: center; 
}

.content p {
	/* Center text in the content div */
	margin: 0px auto; 

	/* Justify text, keep lines 80 characters long */
	max-width: 80ch;	   
	text-align: justify;	

	/* Add a little space between paragraphs */
	padding: 1vh 0; 
}

table {
	/* Set table font size, for some reason this doesn't inherit shit */
	font-size: 100%; 

	/* Center the index table, give it a lil space */
	margin: 0px auto; 
	padding: 3vh 0;
}

td { text-align: left; }

/* Images --------------------------------------------------------------------------------------- */

/* Size images so they always fit in the content div and on the screen vertically */
img {
	padding: 20vh 0; 
	max-height: 80vh; 
	max-width: 100%; 
}

/* Add padding to the right to push the image to the left edge */
.pushleft {
	padding-right: 50%;
	float: left;
}

/* Add padding to the left to push the image to the right edge */
.pushright {
	padding-left: 50%;
	float: right;
}

/* Shrink and use smaller padding the header image on the "News & bio" page */
#indeximage {
	padding: 6vh 0;
	width: 50%;
}

/* Text ----------------------------------------------------------------------------------------- */

/* Padding between a index entry and it's description */
.entry { padding-right: 5vw; }	

/* Fade descriptions in the index table */
.description { text-align: right; color: gray; }

/* Alignment and padding for nemo definitions */
.term { padding-right: 2vw; text-align: right; }

/* Fade date for news entries */
.date { color: gray; }

/* Links */
a { color: black; }
a:hover { color: gray; }

/* Rules for narrow screens --------------------------------------------------------------------- */

@media screen and (max-width: 1000px) {
	
	/* Make the font size bigger and normalized for moblie */
	body {
		max-width: 100%;
		margin: 10px;
		font-size: 4.5vw;
		-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
	}

	/* Shrink the default image padding */
	img, .pushleft, .pushright { padding: 10vh 0 10vh 0; }

	/* Expand the news page header */
	#newsheader { width: 100% }

	/* Shrink some paddings for table elements */
	table { margin: 0; width: 100%; }
	.entry { padding-right: 3vw; width: 60%; vertical-align: top;} 
	.term { vertical-align: top; }

	/* Page title is no longer strictly centered */
	#name {
		width: auto;
	} 
	
	#index {
		width: auto;
	}

	#title {
		padding: 0 5px 0 5px;
	}
}